@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.uploadMain {
  height: 100%;
  width: 95%;
  background-color: rgb(248, 248, 248);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 2%;
}
.uploadHeadNav {
  width: 98%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.uploadUpperMain {
  width: 80%;
  height: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 2%;
}
.fileInput {
  height: 90%;
  width: 40%;
  border: 2px dashed black;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  padding-bottom: 3%;
  justify-content: space-around;
  align-items: center;
}
.fileInput > img {
  height: 30%;
  width: 10%;
}
.fileInput > input {
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  filter: alpha(opacity=0);
}
#selectFileLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 25%;
  border-radius: 10px;
  color: white;
  font-family: "IBM Plex Sans";
  font-weight: 700;
  background-color: #4492f2;
}
.showFile {
  height: 90%;
  width: 50%;
  background-color: red;
}
.RecentFile {
  width: 98%;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding-bottom: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.RecentFile::-webkit-scrollbar{
  width: 0;
}
#dashEndBarHead {
  font-family: "IBM Plex Sans";
  font-weight: 400;
  position: relative;
  top: 0;
  right: 0;
}

.uploadDiv {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.18);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.uploadDiv > button {
  position: fixed;
  top: 1%;
  right: 1%;
  cursor: pointer;
  font-weight: 700;
  z-index: 100;
}
.upload {
    background-color: white;
    height: max-content;
    width: 25%;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.uplaodInput {
  width: 100%;
  height: 100px;
  border: 2px dashed #4c7766;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ebe6e0;
  position: relative;
}
.uplaodInput > h2 {
  font-family: "Raleway";
  color: #4c7766;
}
.uplaodInput > img {
  height: 30%;
  width: 8%;
  margin: 2%;
}
.uplaodInput > input {
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  z-index: 2;
}

.fileList {
  max-height: fit-content;
  overflow-y: auto;  
}

.fileItem {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  /* background-color: #f5f5f5; */
  background-color: #ebe6e0;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  color: #4c7766;
  font-weight: 500;
}

.fileItemDiv button {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 0.8rem;
  cursor: pointer;
}

.fileType{
    background-color: rgba(128, 128, 128, 0.2);
    font-weight: 500;
    padding: 3px;
    border-radius: 5px;
}
.fileSize{
    font-weight: 500;
    font-size: 0.8rem;
}   
.fileItemDiv{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    width: 20%;
    height: 100%;
}
.recentFileNameingDiv{
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.recentFileNameingDiv > h2{
  font-family: "IBM Plex Sans";
  font-weight: 500;
  font-size: 1rem;
  color: gray;
}
#FileNameHead{
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#FileTypeHead{
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#FileDateHead{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#FileActionHead{
  width: 10%;  
  display: flex;
  justify-content: center;
  align-items: center;
}
