@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+PE:wght@100..400&family=Quicksand:wght@300..700&display=swap');


.profileDiv{
    height: 100%;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: rgb(240, 244, 253);
}
.profileMainDiv{
    width: 100%;
    height: 97%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.memberProfileDiv{
    width: 49%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.profileImg{
    width: 50%;
    height: 35%;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid rgb(226, 236, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 236, 252);
    position: relative;
    left: 25%;
    box-shadow: 2px 2px 10px 8px rgba(0, 0, 0, 0.2);
}
.profileImg > img{
    width: 95%;
    height: 90%;
}
.memberInfoDiv{
    width: 49%;
    height: 98%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
#dashEndBarHead{
    margin-top: 2%;
    margin-bottom: 2%;
}
.passDiv{
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
    margin-top: 1%;
}
.passDiv > button{
    padding: 2%;
    border-radius: 20px;
    border: none;
    background-color: rgb(208, 223, 247);
    cursor: pointer;
    font-family: "IBM Plex Sans";
    font-weight: 600;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2) inset;
}
.passDiv > button:hover{
    background-color: rgb(196, 211, 235);
}
.changePassDiv{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
#limitWarning{
    color: red;
    font-weight: 900;
    font-size: 0.8em;
    font-family: 'IBM Plex Sans';
    margin-top: 5%;
    border: 2px solid red;
    border-radius: 10px;
    padding: 1%;
    background-color: rgba(255, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px 5px rgba(255,0,0,0.1) inset;
}
#limitWarning > h3{
    margin-right: 1%;
    width: 10%;
    height: 100%;
}
.paymentCard{
    width: 100%;
    height: 80%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 1.6rem;
    border: 2px solid black;
}
.paymentCard > h2{
    font-size: 1.6rem;    font-family: "Playwrite PE";
}
.mainPaymentCard{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}
#a{
    width: 100%;
    height: 60%;
    font-family: "Nunito";
    font-weight: 800;
    padding-top: 5%;
}
.monthPrice{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5%;
    padding-right: 1.5%;
}
.monthPrice > h3{
    font-size: 1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-radius: 0.4rem;
    color: goldenrod;
    border: 3px solid goldenrod;
    font-family: "Playwrite PE";
}
.monthPrice > h2{
    font-size: 3rem;
    font-family: "Quicksand";
}