@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.profileMain{
    height: fit-content;
    width: 20vw;
    position: fixed;
    top: 8%;
    right: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    z-index: 100;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.profileImg{
    height: 35%;
    width: 40%;
    border-radius: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.profileImg > img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.profileInfoDiv{
    width: 95%;
    height: 15%;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: "Josefin Sans";
    margin-top: 2%;
    margin-bottom: 2%;
    color: rgb(191, 189, 189);
}
.extraInfoDiv{
    width: 95%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
#cPBtn{
    width: 49%;
    height: 95%;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-family: "Josefin Sans";
}
#pMBtn{
    width: 49%;
    height: 95%;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-family: "Josefin Sans";
}
#pMBtn:hover, #cPBtn:hover{
    background-color: rgba(0, 0, 0.6);
}
.dailyUpload{
    width: 95%;
    height: 5%;
    font-weight: 900;
    font-family: "Josefin Sans";
    font-size: 1rem;
    margin-top: 10%;
    margin-bottom: 2%;
    color: white;
}
.uploadWarning{
    width: 95%;
    height: 55px;
    background-color: rgba(255, 0, 0, 0.5);
    font-size: 0.74rem;
    padding: 2%;
    border-radius: 10px;
    color: rgb(75, 4, 4);
    border: 2px solid red;
    font-weight: 700;
    font-family: "Josefin Sans";
    margin-top: 2%;
    margin-bottom: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.uploadWarning > h3{margin: 1%;}
#profileDivClose{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    background-color: transparent;
    color: rgb(184, 10, 10);
    border: none;
    font-weight: 900;
    font-size: 1.5rem;
    font-family: "Nunito";
}