.recentFileMain{
    width: 95%;
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: 900;
    font-family: "Nunito";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
}
.recentFileMain > h2{
    font-size: 1.1rem;
}
#recentFilesActionBtn{
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-weight: 900;
    font-family: "Nunito";
    width: 18%;
    cursor: pointer;
}
#FileType{
    font-size: 0.8rem;
    padding: 0.5%;
    border-radius: 0.5rem;
    color: blue;
    font-weight: 900;
    background-color: rgba(128, 128, 128, 0.15);
}
#FileName{
    width: 24%;
}
#FileTypeM{
    font-size: 0.8rem;
    padding: 0.5%;
    border-radius: 0.5rem;
    color: rebeccapurple;
    font-weight: 900;
    background-color: rgba(128, 128, 128, 0.15);
}
.recentFilesActionDiv {
    position: absolute;
    top: 100%; /* Adjust according to your layout */
    right: 0;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1) inset;
  }
  
.recentFilesActionDiv button {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;
}
  
.recentFilesActionDiv button:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
.buttonWrapper {
    position: relative;
}

.shareDiv{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0; /* Adjust according to your layout */
    right: 0;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
}
